body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e3a8a;
  margin-left: 20px;
}
.navlinks {
    display: flex;
    align-items: center;
    gap: 40px;
}
nav {
   /* border: 2px solid black;*/
    display: flex;
    gap: 100px;
    height: 12%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
nav h2 {
    color: #3b82f6;
}
a {
    text-align: right;
    padding-top: 9px;
    position: relative;
    text-decoration: none;
    color:#6474ab;
}
a:hover{
    color: #3b82f6;
}
button{
    height: 35px;
    width: 99px;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
    text-decoration:double;
}
#two {
    margin-top: -20px;
    color: #3b82f6;
}
.content p {
    color: #6474ab;
}
.heropic {
    width: 400px;
    /*border: 2px solid red;*/
}
.heropic img {
    width: 100%;
    height: auto;
    display: block;
}
.content{
    width: 390px;
   /* border: 2px solid brown;*/
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid blue;*/
}
.action {
    display: flex;
    align-items: center;
    gap: 20px;
}
.action h5 {
    color: #3b82f6;
}